/* ローディング画面 */
.h3{
    font-size: 20%;
    text-align: center;
}

#loading {
  width: auto;
  height: auto;
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}